@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./home.css";

.loading {
  transform: translateX(-100%);
  animation: loading 2s infinite;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(400%);
  }
}
